
ul{
  background-color: #fa0332;
}
body{
  background-image: url("https://wallpapertag.com/wallpaper/full/3/0/3/451227-download-free-spiderman-logo-wallpaper-1920x1080-full-hd.jpg")
};
.hangin{
	text-align: center;
}
